.form-message {
  text-align: center;
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #333e48;
  }
  a {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;

    color: #333e48;
  }
}
